---
layout: default
---
<main role="main" id="main">
  <div class="inner">
    <header>
      <h1><!--[-->This template is fancy af.<!--]--><br />
          <!--[-->(website under construction)<!--]--></h1>
      <p>This is a temporary site to hold some projects I am working on. Feel free to click around.</p>
    </header>

  <section class="tiles"> {% for post in paginator.posts limit:6 %}
    <!-- Go through different styles starting with style0 -->
    <article class="style{% increment sNum %}">
      <span class="image">
        <img src="{{site.baseurl}}/assets/images/pic{% increment pNum %}.jpg" alt="" />
      </span>
      <a href="{{site.baseurl}}{{post.url}}" rel="bookmark" title="Permanent Link to {{site.baseurl}}{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="content">
          <p>{{ post.content | strip_html | truncate: 100 }}</p>
          <time itemprop="dateCreated" datetime="{{post.date}}">{{ post.date | date: "%B %-d, %Y" }}</time>
        </div>
      </a>
    </article>

    {% endfor %}
    <div class="pagination"> {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <p class="prevLink"><a href="{{site.baseurl}}/" class="previous">newer entries</a></p>
      {% else %}
      <p class="prevLink"><a href="{{ site.baseurl }}/project/page{{ paginator.previous_page }}" class="previous">newer entries</a></p>
      {% endif %}
      {% endif %}
      {% if paginator.next_page %}
      <p class="nextLink"><a href="{{ site.baseurl }}/project/page{{ paginator.next_page }}" class="next">older entries</a></p>
      {% endif %} </div>
  </section>
  {% include sidebar.html %}
  </div>

</main>
