---
layout: default
page-type: post
---
<main role="main" id="main">
  <div class="inner">
<article class="posts">
 <article role="article" itemscope itemtype="https://schema.org/BlogPosting">
        <header>
            <h2>{{page.title}}</h2>
            <time itemprop="dateCreated" datetime="{{page.date}}">
                {{ page.date | date: "%B %-d, %Y" }}</time>
        </header>
        {{content}}
        <footer>
        <div style="margin-bottom:3em;">
        {% for tag in page.tags %}
        <a style="border-bottom-color: transparent;" href="{{ site.baseurl }}/tags/index.html#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">
          <button class="small" style="margin:0 1em 1em 0;">{{ tag }}</button>
        </a>{% unless forloop.last %} {% endunless %}{% endfor %}
      </div>
        </footer>
    </article>
    <section class="post-links">
    <!-- <p>View another project:</p> -->
  {% if page.previous.url %}
    <a href="{{ site.baseurl }}{{page.previous.url}}"><button class="nextLink next">{{page.previous.title}}</button></a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{ site.baseurl }}{{page.next.url}}"><button class="prevLink previous">{{page.next.title}}</button></a>
  {% endif %}
	</section>
    </article>

  </div>
        <!-- include sidebar.html  -->
</main>
